.modal-box {
    min-height: 280px;
    width: 100%;
    max-width: 580px;
    background-color: green;
    border-radius: 5px;
    padding: 35px;
}

.description {
    height: 100px;
    width: 100%;
}